@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.container {
  @apply mx-auto max-w-[90%] sm:max-w-[95%];
}

/* manrope */

@font-face {
  font-family: "manrope-extraLight";
  src: url("/fonts/manrope/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "manrope-light";
  src: url("/fonts/manrope/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: "manrope-regular";
  src: url("/fonts/manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "manrope-medium";
  src: url("/fonts/manrope/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "manrope-semiBold";
  src: url("/fonts/manrope/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "manrope-bold";
  src: url("/fonts/manrope/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "manrope-extraBold";
  src: url("/fonts/manrope/Manrope-ExtraBold.ttf") format("truetype");
}

/* instrumental sans */

@font-face {
  font-family: "instrumental-sans-regular";
  src: url("/fonts/instrumental-sans/InstrumentSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "instrumental-sans-medium";
  src: url("/fonts/instrumental-sans/InstrumentSans-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "instrumental-sans-semiBold";
  src: url("/fonts/instrumental-sans/InstrumentSans-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "instrumental-sans-bold";
  src: url("/fonts/instrumental-sans/InstrumentSans-SemiBold.ttf")
    format("truetype");
}

:root {
  font-family: "manrope-regular", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Or if you want to keep your .no-scrollbar class as well */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.heroarea-bg {
  background-image: url(../../public/images/root/home/heroBg.png);
  background-position: right;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}
